@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }
} 

.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.align-center {
  text-align: center;
}

.align-center img {
  display: inline-block;
}

[data-node-type="callout"] {
  padding: 15px;
  border: 1px solid #888;
  display: flex;
  align-items: flex-start; /* Align child elements to the top */
  background-color: #333; /* Dark background for the callout */
  color: #f5f5f5; /* Light text color for better visibility on dark background */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for depth */
}

[data-node-type="callout-emoji"] {
  margin-right: 15px;
}

[data-node-type="callout-text"] {
  flex: 1;
}
